#task-list {
  list-style: none;
  padding: 0;
}
#completed-list {
  list-style: none;
  padding: 0;
}
body {
  background-image: url("assets/bgimg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}
#task-input {
  width: 300px;
  height: 35px;
  font-size: 16px;
  padding: 6px 10px;
}
#add-button {
  width: 100px;
  height: 50px;
  background-color: beige;
}
.container {
  padding-left: 60px;
}
.tasks-container {
  display: flex;
  gap: 40px; /* space between pending & completed */
  margin-top: 30px;
}

.pending,
.completed {
  width: 300px;
}
.delete-btn {
  width: 14px;
  height: 14px;
}
